/* 고정메뉴 */
body,html {scroll-behavior: smooth;}
nav {
    position: fixed; bottom: 60px; right: 80px;
    display: flex; flex-flow: column nowrap;
}
nav::after {
    position: absolute; right: -15px; top: 5px;
    content: '';
    display: inline-block;
    height: 160px; 
    border-right: 1px solid #0D1773;
}
nav a {
    text-align: right;
    margin-bottom: 12px;
    color: #0D1773;
}
nav a:hover {
    font-weight: 600;
}
nav a:last-child {margin-bottom: 0;}
/* 포트폴리오 */
main {} 
main .main1_bg {
    max-width: 100%; margin: 0 auto;
    background-image: url(../images/main1_bg.jpg);
    background-repeat: no-repeat;
}
main .main1_bg .intro {}
main .main1_bg .left {
    display: inline-block;
    padding-left: 17px; padding-top: 24px;
}
main .main1_bg .intro .title {
    margin-left: 510px;
    display: inline-block;
}
main .main1_bg .intro .title img {}
/* 마우스 모형 */
main .main1_bg .intro .mouse {
    text-align: center; margin-top: 180px; padding-bottom: 36px;
}
main .main1_bg .intro .mouse .down {
    margin-bottom: 6px; 
    font-size: 1.125rem; font-family: 'kameron', serif;
    letter-spacing: -0.2px; color: #0D1773;
}
main .main1_bg .intro .mouse .mouse_img {}
main .main1_bg .intro .mouse .mouse_img img {}
/* ================================================= */
main .main2 {
    max-width: 1300px; margin: 0 auto;
    margin-top: 120px;
}
main .main2 .main2_title {
    text-align: center; margin-bottom: 111px;
}
main .main2 .main2_title h2 {
    font-size: 3.438rem; font-family: 'kameron', serif;
    font-weight: 700; letter-spacing: -0.2px;
    color: #0D1773;
}
main .main2 .main2_title .main2_content {
    font-family: 'kameron', serif;
    line-height: 1.8; 
}
main .main2 .main2_title .main2_content span {
    color: #0D1773;
}
main .main2 .my_introduce {
    display: flex;
}
main .main2 .my_introduce .m_i_left {
    display: flex; margin-right: 136px;
}
main .main2 .my_introduce .m_i_left .my_img {
    margin-right: 25px;
}
main .main2 .my_introduce .m_i_left .my_img img {}
main .main2 .my_introduce .m_i_left .information {}
main .main2 .my_introduce .m_i_left .information h3 {
    font-size: 2.625rem; font-family: 'kameron',sans-serif;
    color: #0D1773; margin-bottom: 15px;
}
main .main2 .my_introduce .m_i_left .information .birthday {
    font-size: 1.125rem; margin-bottom: 15px;
}
main .main2 .my_introduce .m_i_left .information .address {
    font-size: 1.125rem; margin-bottom: 15px;
}
main .main2 .my_introduce .m_i_left .information .number {
    font-size: 1.125rem; margin-bottom: 15px;
}
main .main2 .my_introduce .m_i_left .information .email {
    font-size: 1.25rem; letter-spacing: -0.2px; margin-bottom: 15px;
}
main .main2 .my_introduce .m_i_left .information .tag {
    font-size: 1.125rem; letter-spacing: -0.2px;
}
main .main2 .my_introduce .m_i_right {}
main .main2 .my_introduce .m_i_right .career {}
main .main2 .my_introduce .m_i_right .career h4 {
    font-size: 1.438rem; font-family: 'kameron', serif;
    color: #0D1773; margin-bottom: 13px;
}
main .main2 .my_introduce .m_i_right .career .career_content {
    display: flex;
    margin-bottom: 13px;
}
main .main2 .my_introduce .m_i_right .career .career_content:last-child {margin-bottom: 0;}
main .main2 .my_introduce .m_i_right .career .career_content .date {
    font-size: 1.25rem; font-family: 'kameron', serif;
    margin-right: 18px;
}
main .main2 .my_introduce .m_i_right .skill {
    margin-top: 50px;
}
main .main2 .my_introduce .m_i_right .skill h4 {
    font-size: 1.438rem; font-family: 'kameron', serif;
    color: #0D1773;
    margin-bottom: 16px;
}
main .main2 .my_introduce .m_i_right .skill .skill_img {}
main .main2 .my_introduce .m_i_right .skill .skill_img p {
    margin-bottom: 16px;
}
main .main2 .my_introduce .m_i_right .skill .skill_img p:last-child {margin-bottom: 0;}
main .main2 .my_introduce .m_i_right .skill .skill_img p img {
    margin-right: 20px;
}
main .main2 .my_introduce .m_i_right .skill .skill_img p img:last-child {margin-right: 0;}
/* ================================================ */
main .main3 {
    max-width: 1517px; margin: 0 auto;
    margin-top: 221px;
}
main .main3 h2 {
    margin-bottom: 66px;
}
main .main3 h2 img {}
main .main3 .app_contents {
    display: flex; justify-content: center; align-items: center;
}
main .main3 .app_contents .team_img {
    margin-right: 94px;
}
main .main3 .app_contents .team_img img {}
main .main3 .app_contents .app_contents_right {}
main .main3 .app_contents .app_contents_right h4 {
    font-size: 1.25rem; font-family: 'kameron', serif;
    color: #0D1773;
    font-weight: 700; letter-spacing: 0.5px;
    margin-bottom: 10px;
}
main .main3 .app_contents .app_contents_right p {
    font-size: 1.125rem; font-family: 'kameron', serif;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
main .main3 .app_contents .app_contents_right p:nth-child(4){
    margin-bottom: 0;
    line-height: 1.8;
}
main .main3 .app_contents .app_contents_right h5 {
    margin-top: 25px;
    font-size: 1.125rem; font-family: 'kameron', serif;
    color: #0D1773;
    font-weight: 700; letter-spacing: 0.5px;
    margin-bottom: 10px;
}
main .main3 .app_contents .app_contents_right p img {margin-right: 20px;}
main .main3 .app_contents .app_contents_right p img:last-child {margin-right: 0;}